:root {
    --color-green: #5CB85C;
    --color-blue: #00BCD4;
    --color-red: #D9534F;
    --color-white: #fff;
    --color-black: #000;
    --color-gray: #c7c7c7
}

body,
html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    overflow-y: overlay;
}

* {
    box-sizing: border-box;
}

p {
    margin: 0;
}

/* layout */
.display-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-space-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.flex-x {
    flex-direction: column;
}

/* border */
.bases__border--red {
    border: 1px solid var(--color-red) !important;
}

.bases__border--gray {
    border: 1px solid var(--color-gray) !important;
}

.bases__border--black {
    border: 1px solid var(--color-black) !important;
}

.bases__border--link {
    border: 1px solid var(--color-blue) !important;
}

/* button */
.btn__size-md {
    padding: 10px 30px !important;
} 

.btn__bgr--green {
    background-color: var(--color-green) !important;
    color: var(--color-white);
}

.btn__bgr--blue {
    background-color: var(--color-blue) !important;
    color: var(--color-white);
}

.btn__bgr--red {
    background-color: var(--color-red) !important;
    color: var(--color-white);
}

/* margin */

.margin-x-16 {
    margin-top: 16px;
    margin-bottom: 16px;
}

.margin-top-2 {
    margin-top: 2px;
}

.margin-top-5 {
    margin-top: 5px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-50 {
    margin-top: 50px;
}

.margin-top-80 {
    margin-top: 80px;
}

.margin-left-20 {
    margin-left: 20px;
}

.margin-right-4 {
    margin-right: 4px;
}

.margin-right-16 {
    margin-right: 16px;
}

.margin-left-50 {
    margin-left: 50px;
}

.margin-bt-5 {
    margin-bottom: 5px;
}

.margin-bt-30 {
    margin-bottom: 30px;
}

/* padding */
 .padding-y-8 {
    padding-left: 8px;
    padding-right: 8px;
 }

.display-none {
    display: none !important;
}