.components__button {
    width: 100%;
    min-height: 32px;
    padding: 0 15px;
    position: relative;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    border: 1px solid transparent;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.components__button:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.components__button-ripple {
    position: absolute;
    background: var(--color-white);
    transform: translate(-50%, -50%);
    pointer-events: none;
    border-radius: 50%;
    animation: ripple-animate 1s ease-in-out;
}
.components__button-icon--start {
    margin-right: 5px;
}
.components__button-icon--end {
    margin-left: 5px;
}
.components__button_disable {
    background: var(--color-red);
    opacity: 0.3;
}
.components__button_content-wrap {
    overflow: hidden !important;
}
.components__button_content-wrap .components__button-text {
    white-space: normal !important;
    overflow-wrap: anywhere !important;
    text-align: left !important;
    word-break: break-all !important;
}
@keyframes ripple-animate {
    0% {
        width: 0px;
        height: 0px;
        opacity: 0.5;
   }
    100% {
        width: 600px;
        height: 600px;
        opacity: 0;
   }
}
