.components__datepicker .datepicker-container {
    position: relative;
    width: 100%;
    cursor: pointer !important;
}
.components__datepicker .datepicker-container .open-button {
    border-left: 2px solid var(--color-black);
    position: absolute;
    top: 0px;
    right: 0px;
    pointer-events: none;
}
.components__datepicker .datepicker-container .open-button button {
    border: none;
    background: transparent;
    height: 30px;
}
.components__datepicker .datepicker-container .custom-datepicker {
    width: 100%;
    padding: 6px;
    height: 30px !important;
    border-radius: 0.25rem;
}
.components__datepicker .datepicker-container .react-datepicker-wrapper {
    display: inline-block;
    padding: 0;
    border: 0;
    width: 100%;
}
.components__datepicker .datepicker-container .react-datepicker__input-container {
    position: relative;
    display: inline-block;
    width: 100%;
}
