.components__input {
    border: 2px solid var(--color-black);
    border-radius: 2px;
    color: var(--color-black);
    width: 100%;
    min-height: 30px;
    padding: 0 8px;
    background-clip: padding-box;
    transition: var(--color-gray) 0.15s ease-in-out,  0.15s;
    appearance: none !important;
    -webkit-appearance: none !important;
    position: relative;
    display: flex;
    align-items: center;
}

.components__input[type='text'] {
    border-color:var(--color-gray);
}

.components__input:focus {
    outline: unset !important;
}

.components__input::placeholder {
    color: var(--color-black);
}

.components__input::-webkit-outer-spin-button,
.components__input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.components__input[type='number'] {
    -moz-appearance: textfield;
}

.components__input .react-autosuggest__input {
    width: 100%;
    height: 100%;
    border: none;
    padding: 0 !important;
}

.components__input .react-autosuggest__input--focused {
    outline: none;
}

.components__input .react-autosuggest__suggestions-container {
    display: none;
}

.components__input .react-autosuggest__suggestions-container--open {
    display: block;
    position: absolute;
    top: 36px;
    left: 0;
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    box-shadow: 2px 2px 8px !important;
    background-color: var(--color-white);
    border-radius: 0.25rem;
    z-index: 2;
    padding: 8px 0;
}

.components__input .react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.components__input .react-autosuggest__suggestion {
    cursor: pointer;
    padding: 8px;
}

.components__input .react-autosuggest__suggestion--highlighted {
    background-color: var(--color-black);
}