/* responsive */
/* desktop 1024px */
@media only screen and (min-width: 768px) and (max-width: 1200px) {
    .components__app {
        width: auto;
        padding-right: 32px;
        padding-left: 32px;
    }
}

/* tablet less than 768px */
@media only screen and (max-width: 768px) {
    .components__app {
        width: auto;
        padding-right: 16px;
        padding-left: 16px;
        display: flex;
        flex-direction: column;
    }

    .formtask__due-date, .formtask__priority {
        width: 100% !important;
    }

    .option__wrap {
        flex-direction: column;
    }
}

@media only screen and (max-width: 768px) and (min-width: 428px) {

    .components__left,
    .components__right {
        width: auto !important;
    }

    .components__left {
        margin-bottom: 16px;
    }

    .components__left>.components__form-task {
        margin-bottom: 30px;
    }
}

/* mobile less than 425px */
@media only screen and (max-width: 425px) {

    .components__left,
    .components__right {
        width: auto !important;
    }

    .components__left {
        margin-bottom: 16px;
    }

    .components__left>.components__form-task {
        margin-bottom: 30px;
    }

    .todo__header>.components__item-header {
        flex-direction: column;
    }
}