.components__select {
    border: 1px solid black !important;
    max-width: 100%;
    width: auto;
    min-height: 30px;
    border-radius: 4px;
    width: 100%;
    background-color: white;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background: url('../assets/icons/arrow-down.svg');
    background-repeat: no-repeat;
    background-position-x: 98%;
    background-position-y: 50%;
    color: var(--color-black) !important;
}
.components__select:focus {
    background-color: var(--color-white);
    outline: unset !important;
}
.components__select .css-319lph-ValueContainer {
    padding: 0 8px;
}
.components__select .css-1s2u09g-control, .components__select .css-1pahdxg-control {
    border: unset !important;
    min-height: 30px;
    background: url('../assets/icons/arrow-down.svg');
    background-repeat: no-repeat;
    background-position-x: 98%;
    background-position-y: 50%;
}
.components__select .css-tlfecz-indicatorContainer, .components__select .css-1gtu0rj-indicatorContainer {
    color: var(--color-black);
}
.components__select .css-tlfecz-indicatorContainer svg, .components__select .css-1gtu0rj-indicatorContainer svg {
    display: none !important;
}
.components__select .css-1okebmr-indicatorSeparator {
    display: none !important;
}
.components__select .css-6j8wv5-Input, .components__select .css-1pndypt-Input {
    padding: unset !important;
    margin: unset !important;
}
.components__select .css-ackcql, .components__select .css-vwja0k, .components__select .css-qc6sy-singleValue {
    margin: 0 !important;
    padding: 0 !important;
}
